


body{
        background-color: lightskyblue;
       font-family:  'Press Start 2P', cursive;
       display:inline-block;
               width:980px;

       
       
      
    }
   

    .hed{
      font-family: 'Press Start 2P', cursive;
      position:relative; 
      top: 55px;
left: 45%;
color:rgb(112, 42, 112);
 text-shadow:white 1px 4px 3px;
   
   }

    


    #container{
      position:relative;
      width: 100%;
        display:flex;
        justify-content:center;
padding: 10px;
margin: 10% 20% 0 20%;

         }
    .ta1{
border: rebeccapurple solid 2px;
        background-image: url("https://pbs.twimg.com/media/DnJ23i-XgAA0oA_.png");
        height: 600px;
        width: 100%;
      background-position: 65% 59%;
      background-repeat: no-repeat;
      background-color: rgb(120, 120, 184);
      
      
}
.ta1 img{

  width: 100px;
  height: 50px;
position: relative;
	right: 1%; 
top: 554px; 
filter: contrast(5);
 

}

#cooffe{
 
  position: relative;
  left:85px;
  top:520px;
  font-family:  'Press Start 2P', cursive;
  color:white;
  text-shadow: black 1px 4px 3px;
}

#life{
   position: relative;
  left:22px;
   top:472px;
  font-family:  'Press Start 2P', cursive;
  color:white;
    text-shadow:black 1px 4px 3px;
    font-size: 14px;


}
  .ta1 p{
    display:block;
    position:relative;
    top: -65px;
    margin-left:20px;
    
  

      
        font-family: 'Press Start 2P', cursive;
        text-transform: uppercase;
        font-size:24px;
        text-align: left;
        color:white;
        text-shadow: black 1px 4px 3px;
     
       
        
    }
   
    
    
    .ta2{
      background-image: url("https://images.assetsdelivery.com/compings_v2/robuart/robuart1908/robuart190801352.jpg");
        background-repeat: no-repeat;
       background-size: 970px;
       background-position-x: center;
        margin-right:8%;
        margin-left:8%;
        height: 600px;
        width: 150%;
background-color: rgb(120, 120, 184);
 border: solid 5px burlywood;
}

#repres{
  margin-top: -30px;
}


      .bojack{
        position:relative;
        right: 60px;
        top: 30px;
        }
     
    span{
      color:white;
      font-size:11px;
    }
    
    .ta2 p{
        margin-top:50px;

      color:white;
        font-family: 'Press Start 2P', cursive;
        text-transform: uppercase;
        font-size:11px;
        color:white;
        text-shadow: black 1px 3px 3px ;

    }

   .skills{
          display:inline;
 position:relative;
     top: -50px;
     left: 100px;
     font-size:12px;
     color:white;
       text-shadow: black 1px 4px 3px;

   }
 

.b1 {
  background-color: lightgray;
  border-radius: 1.25em;
  width: 200px;
  height: 16px;
  display: inline-block;
  position:relative;
  margin-left:10px;
  
}

.b1 .barra1 {
  background-color: rgb(24, 106, 112);
  transition: 0.3s all linear;
  border-radius: 1.25em;
  height: 16px;
  display: inline-block;
}
.p1{
  letter-spacing: 1px ;  
line-height: 1em;
  position:relative;
  left: 15px;
  top: 0px;
}

.b2 {
  background-color: lightgray;
  border-radius: 1.25em;
  width: 200px;
  height: 16px;
  display: inline-block;
  position:relative;
  margin-left:10px;
}

.b2 .barra2 {
  background-color: rgb(24, 106, 112);
  transition: 0.3s all linear;
  border-radius: 1.25em;
  height: 16px;
  display: inline-block;
}
.p2{

position:relative;
  left: 15px;
}

.b3 {
  background-color: lightgrey;
  border-radius: 1.25em;
  width: 200px;
  height: 16px;
  display: inline-block;
  position:relative;
  margin-left:10px;
}

.b3 .barra3 {
  background-color: rgb(24, 106, 112);
  transition: 0.3s all linear;
  border-radius: 1.25em;
  height: 16px;
  display: inline-block;
}
.p3{

  position:relative;
  left: 15px;
  top: 0px;
}

    .ta3{
        
        height: 600px;
        width: 100%;
        background-color: rgb(120, 120, 184);
                border: rebeccapurple solid 2px;


    }

.ta3 img{
     width: 100px;
  height: 80px;
 margin-left:25%;
 margin-top: 10%;
 filter: contrast(100%);
   }
   
   .ta3 a{
     color: white;
     text-decoration:none;
   }
   .ta3 p:hover{
      color:  rgb(181, 181, 245);

   }
  .ta3 a:hover{
     color:  rgb(181, 181, 245);

   }
   #mail{

       position:relative;
       top: 10%;
       
       
   }
  
    #cell{
       position:relative;
       top : 20%;
    }
     #place{
       
       position:relative;
       left:2%;
       right: 2%;
   }
 
 #desc1{
   
     margin:2px;
     position:relative;
     right: 5px;
      color:white;
      font-size:10px;
            text-align:center;
                text-shadow: black 1px 4px 3px;


 }
 #desc2 {

   margin-right: 2px;
     position:relative;
                right: 5px;

      color:white;
      font-size:10px;
      text-align:center;
          text-shadow: black 1px 4px 3px;


 }
 #desc3{
 margin-right: 2px;
     position:relative;
     left:-px;
      color:white;
      font-size:10px;
      text-align:center;
          text-shadow: black 1px 4px 3px;


    
 }
 
 
@media (max-width: 600px) {

#container{
  width:100%;
}



}



